﻿@using Microsoft.AspNetCore.Components.Web
@using Hashtag_Finder.Models
@using Hashtag_Finder.Services
@inject PostService PostService


<style>
    .post {
        border: 1px solid gray;
        margin: 10px;
        padding: 10px;
    }

        .post h4 {
            color: darkcyan;
        }

            .post h4 a {
                color: darkblue;
            }

        .post p.post_content {
        }

            .post p.post_content p {
                margin-bottom: 0px;
            }
</style>

<div id="posts">
    @foreach (var post in PostService.GetPosts())
    {
        <div class="post">
            <div class="post-head">
                <button @onclick="(e => UpVotePost(post.Id, 0))" 
                        data-toggle="modal" data-target="#upvoteModal"
                        class="btn btn-dark" >Upvote - @post.UpvotesCount</button>
            </div>
            <h4>
                @post.UserName <a target="_blank" href="@post.MsgLink">Msg Link</a> - <span class="tooltip">
                    Hashtags
                    <span class="tooltiptext">
                        @foreach (var hashtag in @post.HashTags)
                        {
                            @hashtag
                        }
                    </span>
                </span>
            </h4>

            <div class="post_content">
                @foreach (var msg in post.Messages)
                {
                    <p>
                        @msg.Content
                    </p>
                }
            </div>
        </div>

    }
</div>

@if(upVotedPost != null)
{
    <div class="modal fade" id="upvoteModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="postTitle">Success</h6>
                    <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-img" style="background-image url('https://media1.tenor.com/images/d8d7b003cc98b44d2a4ca87e27f0c304/tenor.gif')"></div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@upVotedPost.UserName +1</p>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
}

@code {
    Post upVotedPost;
    int currentUserId;
    int upVotePostId;
    bool modalActive;

    void UpVotePost(int postId, int userId)
    {
        upVotePostId = postId;
        currentUserId = 0; //currentUserId = userId;
        //modalActive = true;
        upVotedPost = PostService.AddUpVote(postId, currentUserId);
        FooBar();
    }
    bool FooBar()
    {
        return false;
    }
}
