﻿@page
@using Hashtag_Finder.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Upload Telegram HTML Files</h1>
    <p>Export your telegram chat group with no images and use the form below to upload all the .html files</p>
    <p>From there the service will pull out all hashtags used</p>

    <form id="form1" runat="server">
        <asp:FileUpload ID="FilesUpload" runat="server"
                        AllowMultiple="true" />
        <br />
        <asp:Button ID="UploadButton" runat="server"
                    OnClick="UploadButton_Click"
                    Text="Upload File" />
        <br />
        <asp:Label ID="FileUploadedList" runat="server" />
    </form>

    <!--<p>@Model.HashTags</p>-->
    @foreach (var hashtag in Model.HashTags)
    {
        <h2>@hashtag.Name <span style="font-size:1.8rem;color:darkcyan;">@hashtag.Count</span></h2>
    }

</div>

<script src="_framework/blazor.server.js"></script>