﻿@page
@using Hashtag_Finder.Components
@model Hashtag_Finder.THashtagsModel
@{
    ViewData["Title"] = "THashtags";
}

<h1>THashtags</h1>
@(await Html.RenderComponentAsync<PostList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>

 
@*<div id="posts">
        @foreach (var post in Model.GetFirst50Posts)
        {
            <div class="post">
                <h4>
                    @post.UserName <a target="_blank" href="@post.MsgLink">Msg Link</a> - <span class="tooltip">
                        Hashtags
                        <span class="tooltiptext">
                            @foreach (var hashtag in @post.HashTags)
                            {
                                @hashtag
                            }
                        </span>
                    </span>
                </h4>

                <p class="post_content">
                    @foreach (var msg in post.Messages)
                    {
                    <p>@msg.Content</p>
                }

                </div>
            }
    </div>*@

@* Todo: Highlight #hashtags as clickable links by injecting <a href=""> around the #hashtag content *@