﻿@page
@model Hashtag_Finder.Pages.TPostsModel
@{
    ViewData["Title"] = "TPosts";
}

<h1>Telegram Posts</h1>

<style>
    .post {
        border: 1px solid gray;
        margin: 10px;
        padding: 10px;
    }
    

    .post h4 {
        color: darkcyan;
    }

    .post p.post_content {
    }
</style>

<div id="posts">
    @foreach (var post in Model.GetFirst50Posts)
    {
    <div class="post">
        <h4 >@post.UserName</h4>

        @foreach (var msg in post.Messages)
        {
        <p class="post_content">@msg.Content</p>
        }
    </div>
    }
</div>
